<footer class="relative border-t bg-muted mt-10">
    <div class="absolute inset-x-0 -top-3 flex items-center justify-center">
        <div class="relative flex h-10 w-14 justify-center">
            <div class="absolute inset-0 -top-[2px] h-full w-full rounded-full bg-muted blur-[6px]"></div>

            <svg class="relative h-5 w-5 text-gray-200" xmlns="http://www.w3.org/2000/svg" width="135" height="90"
                 viewBox="0 0 14 14">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="7" cy="7" r="6.5"></circle>
                    <path d="M.5 7h13m-4 0A11.22 11.22 0 0 1 7 13.5A11.22 11.22 0 0 1 4.5 7A11.22 11.22 0 0 1 7 .5A11.22 11.22 0 0 1 9.5 7Z"></path>
                </g>
            </svg>
        </div>
    </div>

    <div class="container">
        <div class="mt-10 flex flex-col items-center justify-between gap-y-4 md:flex-row">
            <div class="flex flex-col items-center gap-x-4 gap-y-4 text-text/90 md:flex-row">
                <div class="flex items-center gap-x-6">
                    <div class="transition-colors duration-200 hover:text-rose-600">
                        <a aria-label="Visit GitHub repository"
                           href="https://github.com/your-username/your-repo" target="_blank">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path d="M12 .5C5.648.5.5 5.648.5 12a11.48 11.48 0 007.872 10.931c.576.11.776-.25.776-.55v-1.936c-3.195.694-3.87-1.544-3.87-1.544-.524-1.336-1.276-1.691-1.276-1.691-1.046-.716.08-.7.08-.7 1.156.084 1.764 1.188 1.764 1.188 1.026 1.756 2.7 1.248 3.36.956.105-.744.402-1.248.729-1.534-2.549-.292-5.227-1.276-5.227-5.682 0-1.254.448-2.28 1.188-3.083-.12-.293-.516-1.464.12-3.048 0 0 .984-.316 3.228 1.208a11.187 11.187 0 015.88 0c2.244-1.524 3.228-1.208 3.228-1.208.636 1.584.24 2.755.12 3.048.744.804 1.188 1.828 1.188 3.083 0 4.42-2.688 5.392-5.244 5.678.408.348.78 1.04.78 2.1v3.122c0 .3.204.664.78.548A11.476 11.476 0 0023.5 12C23.5 5.648 18.352.5 12 .5z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="transition-colors duration-200 hover:text-blue">
                        <a aria-label="Visit LinkedIn profile" href="https://linkedin.com/in/your-profile"
                           target="_blank">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 fill="currentColor">
                                <path d="M19 0h-14C2.243 0 0 2.243 0 5v14c0 2.757 2.243 5 5 5h14c2.757 0 5-2.243 5-5V5c0-2.757-2.243-5-5-5zm-11 19H5V9h3v10zm-1.5-11.28c-1.035 0-1.78-.763-1.78-1.72 0-.964.757-1.72 1.795-1.72s1.78.756 1.78 1.72c0 .957-.745 1.72-1.795 1.72zM19 19h-3v-4.888c0-2.573-3-2.388-3 0V19h-3V9h3v1.398c1.396-2.586 6-2.777 6 2.474V19z"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <span class="hidden h-4 w-px rounded-full bg-border md:block"></span>
                <p class="text-sm">
                    <a href="mailto:alidolatdev@gmail.com" target="_blank" class="hover-green">
                        alidolatdev@gmail.com
                    </a>
                </p>
            </div>
            <div class="order-first flex md:order-last">
                <button class="inline-flex items-center gap-x-2 rounded-lg border p-2 text-sm"
                        id="scroll-top-button-footer" type="button">
                    <span>Back To Top</span>
                    <span aria-hidden="true">
            <svg class="h-5 w-5 lg:h-6 lg:w-6">
              <use xlink:href="#chevron-up"></use>
            </svg>
          </span>
                </button>
            </div>
        </div>

        <div class="mt-4 flex items-center justify-center border-t py-4">
            <p class="text-md text-text/60 xs:text-sm">&copy; 2025 All Rights Reserved.</p>
        </div>
    </div>
</footer>
